body {
  background-color:#a86474;
  font-family: sans-serif;
  margin: 20px 50px
}
p {
    color:#362940;
    font-size: 18px;
}
h1 {
    color:#362940;
    font-size: 36px;
}
h2 {
    color:#362940;
    font-size: 24px;
}
li {
    color:#e5b5be;
    font-size: 18px;
}
.boxassignment {
  width: 400px;
  height: 100px;
  background-color: #e6e8de;
  border: 6px double #677d95;
  margin: 10px 20px 0 10px;
  padding: 20px 50px;
}
